{% extends "home.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div>
                <h2>Test your Images</h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <form id="checkImage" method="post">
                        <div class="text-left">
                            <input align="center" type="file" id="imageFile" width="50" height="17"
                                   data-multiple-caption="{count} files selected" multiple accept="image/*"
                                   onchange="readURL(this);"/>
                            <br><br><br>
                            <div>
                                <h4>Please select the model</h4>
                                <p>
                                    <label>
                                        <input type="radio" name="model_type" value="RS">
                                        Faster RCNN Inception V2
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="radio" name="model_type" value="PC">
                                        SSD MobileNet
                                    </label>
                                </p>
                            </div>
                            <br>
                            <div>
                                <img id="selectedImageSrc" src="#" alt="Test Image">
                            </div>
                            <br><br>
                            <div>
                                <img id="selectedImageOut" alt="Output Image">
                            </div>
                            <br><br>
                            <div>
                                <input id="load_img" type="button" class="btn btn-success" value="Image Details"/>
                                <input id="reset_btn" type="button" class="btn btn-info" value="Reset"
                                       onclick="showTable()"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="container righ">
                        <table id="table">
                            <tr>
                                <td>Found Element: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Accuracy: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Inference Time: </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}