{% extends "home.html" %}
{% block content %}
    <br>
    <br>
    <div class="container" align="center">
        <div>
            <h2>Upload Journey Video</h2>
        </div>
        <br>
        <input type="hidden" id="hiddenPedestrian">
        <form id="imageUpload" enctype="multipart/form-data" method="post">
            <div class="text-left">
                <input type="file" id="files" name="file" width="50" height="17"
                       data-multiple-caption="{count} files selected" multiple accept="video/*"/>
                <div class="text-left">
                    <br/>
                    <output id="selectedFiles"></output>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="form-control-label" for="inputSuccess1" style="text-align:left">Route Name</label>
                <input type="text" class="form-control is-valid" id="routeName"
                       placeholder="Enter route name - separated">
            </div>
            <br/>
            <input id="splitButton" type="button" class="btn btn-success" value="Process"/>
            <input id="resetButton" type="button" class="btn btn-info" value="Reset"/>
            <br/>
            <br/>
            <div class="progress" id='progressBar' style='height: 30px;'>
                <div id='bar' class="progress-bar bg-success" role="progressbar" style='height: 100%; width: 0%'
                     data-percentage="100"></div>
            </div>
            <br>
            <br>
        </form>
    </div>
    </div>
{% endblock %}